{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="blogs">
        <div class="blogs-child"></div>
        <div class="blogs-item"></div>
        <a class = 'button about' href = '/../about'> About </a>     
        <a class = 'button blogs1' href = '/../blogs'> Blogs </a> 
        <a class = 'button profile' href = '/../profile'> Profile </a>

        <a class="b1" href = '../genre/shooter'> </a>
        <a class="b2" href = '../genre/adventure'>  </a>
        <a class="b3" href = '../genre/choices_matter'>  </a>
        <a class="b4" href = '../genre/strategy'>  </a>
        
        <img class="logo" alt="Logo" src= "{% static "pages/images/Logo.png" %}"/>

        <div class="the-latest-news">
            The latest news, reviews, and guides for video games of all genres.
        </div>
        <div class="joystick-journeys">Joystick Journeys</div>
    </div>

    <style>
        .blogs-child,
        .blogs-item {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        border-radius: 15px;
        }
        .blogs-child {
        height: 695px;
        }
        .blogs-item {
        background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
        height: 160px;
        }
        .about,
        .blogs1 {
        top: 45px;
        width: 150px;
        height: 70px;
        }
        .about {
        position: absolute;
        left: 882px;
        border-radius: 25px;
        }
        .blogs1 {
        left: 1095px;
        }

        .blogs1,
        .profile {
        position: absolute;
        border-radius: 25px;
        }

        .profile {
        top: 45px;
        left: 1307px;
        width: 150px;
        height: 70px;
        }
        
        .b1,
        .b2,
        .b3,
        .b4 {
        position: absolute;
        top: 354px;
        left: 104px;
        border-radius: 25px;
        width: 275px;
        height: 250px;
        text-decoration: none;
        justify-content: center;
        display: flex;
        align-items: center;

        }
        .b2,
        .b3,
        .b4 {
        left: 447px;
        width: 274px;
        }
        .b3,
        .b4 {
        left: 791px;
        }
        .b4 {
        left: 1133px;
        width: 275px;
        }
        .logo {
        position: absolute;
        top: 25px;
        left: 48px;
        border-radius: 50%;
        width: 110px;
        height: 110px;
        object-fit: cover;
        }
        .joystick-journeys,
        .the-latest-news {
        position: absolute;
        top: 191px;
        left: 246px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 1019px;
        height: 80px;
        }
        .joystick-journeys {
        top: 36px;
        left: 180px;
        font-size: 48px;
        width: 588px;
        height: 88px;
        display: flex;
        text-align: left;
        justify-content: flex-start;
        }
        .blogs {
        position: relative;
        width: 100%;
        height: 695px;
        overflow: hidden;
        text-align: center;
        font-size: 32px;
        }

        .b1{
            background-image: url({% static 'genre/shooter.jpeg'%});
            background-size: cover;
        }
        .b1:hover, .b2:hover, .b3:hover, .b4:hover{
            border: none;
            box-shadow: 0 2.5px 5px rgba(0, 0, 0, 0.3);
            transform: scale(1.1, 1.1);
            transition: 0.5s;
        }

        .b2{
            background-image: url({% static 'genre/adventure.jpeg'%});
            background-size: cover;       
        }

        .b3{
            background-image: url({% static 'genre/cm.jpeg'%});
            background-size: cover;       
        }
        .b4{
            background-image: url({% static 'genre/strategy.jpeg'%});
            background-size: cover;       
        }
        .button {
            color: white;
            text-decoration: none;
            background-color: #00C2FF;
            border-radius: 15px;
            display: flex;
            justify-content: center;
            text-align: center;
            line-height: 70px;
            font-family: Poppins;
            font-size: 28px;
            font-weight: 600;
        }

        .button:hover{
            background-color: lightgrey;
            color: #00C2FF;
            transition: 0.5s;
        }
    </style>
{% endblock %}
