{% load static %}
<!doctype html>
<html>
    <head>
        <title> Joystick Journies </title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300;1,400&display=swap" rel="stylesheet">
        </head>
    <body>
        {% block content %}
            Replace Me. 
        {% endblock %}
    </body>
    <style>
        body{
            background-image: 
            conic-gradient(
              from 43deg at 0% 0% in oklch, 
              oklch(75% 0.5 156) 0%, oklch(70% 0.5 261) 100%
            );
            {% comment %} background-size: auto; {% endcomment %}
            height: 97.5vh;

        }
    </style>
</html>
